<section>
  <article>
    <input type="text" #searchTerm (input)="search(searchTerm.value)" />
    <button (click)="searchMovis()">Sök</button>
  </article>

<article>
    <button (click)="filterMovies('Action')">Action</button>
    <button (click)="filterMovies('Thriller')">Thriller</button>
    <button (click)="filterMovies('Comedy')">Comedy</button>
    <button (click)="filterMovies('Sci-fi')">Sci-fi</button>
    <button (click)="showAllProducts()">Visa Alla</button>
</article>

<div *ngIf="showMovies">
  <article *ngFor="let p of searchMoviesProducts">
    <a routerLink="/details/{{p.id}}"><img [src]="p.imageUrl" alt="products" width="130px" height="auto">
      <h2>{{p.name}} </h2>
    </a>
    <button (click)="saveProduct(p)">Lägg i varukorg</button>
  </article>
  </div>

  <div *ngIf="!hidden">

  <div *ngIf="show">
    <article *ngFor="let p of filterProducts">
      <a routerLink="/details/{{p.id}}"><img [src]="p.imageUrl" alt="products" width="130px" height="auto">
        <h2>{{p.name}} </h2>
      </a>
      <button (click)="saveProduct(p)">Lägg i varukorg</button>
    </article>
  </div>

  <div *ngIf="!show">
    <article *ngFor="let p of products">
      <a routerLink="/details/{{p.id}}"><img [src]="p.imageUrl" alt="products" width="130px" height="auto">
        <h2>{{p.name}} </h2>
      </a>
      <button (click)="saveProduct(p)">Lägg i varukorg</button>
    </article>
  </div>

  </div>
</section>
