<section>
  <article [class]="navigation">
    <input type="text" #searchTerm (input)="search(searchTerm.value)" />
    <button (click)="searchMovis()">SÖK</button>
  </article>

  <article [class]="filter">
    <button (click)="filterMovies('Action')">ACTION</button>
    <button (click)="filterMovies('Thriller')">THRILLER</button>
    <button (click)="filterMovies('Comedy')">COMEDY</button>
    <button (click)="filterMovies('Sci-fi')">SCI_FI</button>
    <button (click)="showAllProducts()">VISA ALLA</button>
  </article>

  <div *ngIf="showMovies" [class]="divClass">
    <article *ngFor="let p of searchMoviesProducts">
      <a routerLink="/details/{{p.id}}"><img [src]="p.imageUrl" alt="products" width="130px" height="auto">
      </a>
      <div class="buttonContainer">
        <a routerLink="/details/{{p.id}}">
          <h2>{{p.name}} </h2>
        </a>
        <span>{{p.price}}kr</span>
        <button (click)="saveProduct(p)" [class]="btn">LÄGG I KUNDKORG</button>
      </div>
    </article>
  </div>

  <div *ngIf="!hidden">
    <div *ngIf="show" [class]="divClass">
      <article *ngFor="let p of filterProducts">
        <a routerLink="/details/{{p.id}}"><img [src]="p.imageUrl" alt="products" width="130px" height="auto">
        </a>
        <div class="buttonContainer">
          <a routerLink="/details/{{p.id}}">
            <h2>{{p.name}} </h2>
          </a>
          <span>{{p.price}}kr</span>
          <button (click)="saveProduct(p)" [class]="btn">LÄGG I KUNDKORG</button>
        </div>
      </article>
    </div>
    <div *ngIf="!show" [class]="divClass">
      <article *ngFor="let p of products">
        <a routerLink="/details/{{p.id}}"><img [src]="p.imageUrl" alt="products" width="130px" height="auto">
        </a>
        <div class="buttonContainer">
          <a routerLink="/details/{{p.id}}"><h2>{{p.name}} </h2></a>
          <!-- <h2>{{p.name}} </h2> -->
          <span>{{p.price}}kr</span>
          <button (click)="saveProduct(p)" [class]="btn">LÄGG I KUNDKORG</button>
        </div>
      </article>
    </div>
  </div>

</section>
