section {
  background: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  button {
    padding: 10px 20px;
    background-color: #22599f;
    color: whitesmoke;
    border-radius: 5px 0px 5px 0px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // transition: transform .2s;
    font-weight: 400;
    font-size: 18px;
    &:hover {
      cursor: pointer;
      background: lighten(#22599f, 10%);
      // transform: scale(1.1);
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 8px 20px 8px;
    padding-top: 180px;

    input {
      padding: 14px 70px 5px 70px;
    }
    button{
      padding: 6px 25px 6px 25px;
      margin: 5px;
    }
  }
  .filter {
    margin-bottom: 20px;
    button{
      margin: 20px 5px;
    }
  }


  .classDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    article {
      height: auto;
      background-color: #000;
      margin: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.2s;

      .buttonContainer {
        height: 200px;
      }
    }
    a {
      text-decoration: none;
      color: #fff;
      height: 100%;
      text-transform: uppercase;

      img {
        width: 100% !important;
        height: auto !important;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
    button {
      width: 100%;
    }
  }
}

@media screen and(min-width: 800px) {
  section {
    .classDiv {
      justify-content: center;
      article {
        width: 24%;

        &:hover {
        transform: scale(1.02);
        .btn {
          display: block;
        }
      }
      }
    }
    button{
      transform: scale(1.02);
      &:hover{
        transform: scale(1.1);
      }
    }

    .btn {
      display: none;
      &:hover {
        transform: scale(1.1);
      }
    }

    .navigation{
      padding-top: 150px;
    }
  }
}
