header {
  nav {
    ul{
      list-style: none;
      padding: 0%;
      margin: 0%;
      display: flex;
      justify-content: center;
      gap: 20px;

      a {
        text-decoration: none;
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  text-align: center;
}
