header {
  position: fixed;
  top: 10px;
  background-color: #000;
  z-index: 999;
  padding: 24px;
  width: 100%;
  nav {
    ul {
      list-style: none;
      padding: 0%;
      margin: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;


      a {
        color: #fff;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-size: 20px;
        transition: transform 0.2s;

        &.active {
          text-decoration: underline;
          color: #739fd8;
        }

        .amount {
          position: relative;
          top: -35px;
          left: 92px;
          margin: 0%;
          background-color:  #22599f;
          border-radius: 50%;
          width: 30px;
          padding: 3px;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

main {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  margin: 0%;
}
